.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  border: 5px solid #a6a6a6;
  margin: auto;
  margin-top: 50px;
}

.row {
}
.cell {
  border: 0.5px solid #a6a6a6;
  display: inline-block;
}

.cell-green {
  background-color: green;
}
.cell-red {
  background-color: red;
}
.cell-orange {
  background-color: orange;
}

.score-container {
  width: 50%;
  margin: auto;
  display: flex;
}
.score-container div {
  width: 50%;
  text-align: center;
}

.gameOver-component {
  border: 5px solid #a6a6a6;
  width: 50%;
  max-width: 800px;
  height: 50%;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}
